In [33]:
import pandas as pd

In [35]:
Keyboards.head(10)

   QWERTY errors  Alphabetical errors
0              6                    6
1              6                   11
2              2                    8
3              7                    5
4              8                   11
5              8                    8
6              2                   10
7              3                    7
8              5                    4
9              7                    3

In [36]:
qwerty_errors_list = Keyboards['QWERTY errors'].tolist()
qwerty_errors_list[:10]

[6, 6, 2, 7, 8, 8, 2, 3, 5, 7]

In [37]:
alphabetical_errors_list = Keyboards['Alphabetical errors'].tolist()
alphabetical_errors_list[:10]

[6, 11, 8, 5, 11, 8, 10, 7, 4, 3]

In [38]:
import inspect 
import stats 

for name, obj in inspect.getmembers(stats):
    if inspect.isfunction(obj):
        print(name)

H0_2_tailed
confidence_interval
mean
std_dev
std_dev_t_test
std_error
std_error_t_test
t_test
t_test_dependent_samples
variance
variance_t_test
z_score

In [39]:
from stats import *

In [40]:
mean(qwerty_errors_list)

5.08

In [41]:
mean(alphabetical_errors_list)

7.8

H0: mu_qwerty = mu_alphabetical

HA: mu_qwerty != mu_alphabetical

In [42]:
n = 25

In [43]:
mean(qwerty_errors_list) - mean(alphabetical_errors_list)

-2.7199999999999998

In [44]:
difference_list = []
for i,j in zip(qwerty_errors_list,alphabetical_errors_list):
    difference_list.append(i-j)
    
print(difference_list)

[0, -5, -6, 2, -3, 0, -8, -4, 1, 4, 3, -1, -6, -3, -1, 2, -6, -6, -11, -3, -2, -7, -3, -4, -1]

In [45]:
mean(difference_list)

-2.72

In [46]:
variance_t_test(difference_list)

13.626666666666665

In [47]:
std_dev_t_test(difference_list)

3.6914315199752337

In [48]:
std_error_t_test(difference_list,n)

0.7382863039950467

In [49]:
t_test_dependent_samples(difference_list,n)

-3.684207583536927

In [50]:
Cohen = mean(difference_list) / std_dev_t_test(difference_list)
Cohen

-0.7368415167073854

CI = mean(difference) +/- t_critical x S/sgrt(n) 

alpha= 5%

In [51]:
t_critical = 2.064

In [52]:
lower_bound = mean(difference_list) - t_critical * std_error_t_test(difference_list,n)
lower_bound

-4.243822931445777

In [53]:
upper_bound = mean(difference_list) + t_critical * std_error_t_test(difference_list,n)
upper_bound

-1.1961770685542237

In [54]:
CI = (lower_bound,upper_bound)
CI

(-4.243822931445777, -1.1961770685542237)

Conclusion: the users on average, will make around 4 to 1 fewer errors on Qwerty Keyboard than on Alphabetical Keybord