In [1]:
import pandas as pd

In [2]:
Engagement_Learning = pd.read_csv('Engagement_Learning.csv')
Engagement_Learning

              Timestamp  Engagement  Learning
0    3/14/2013 18:42:17        10.0      10.0
1    3/14/2013 18:42:44        10.0      10.0
2    3/14/2013 18:42:58         7.0       8.0
3    3/14/2013 18:43:15         8.0       9.0
4    3/14/2013 18:43:27         9.0       9.0
..                  ...         ...       ...
230   3/16/2013 9:26:51         9.0       9.0
231   3/16/2013 9:53:03         9.0      10.0
232  3/16/2013 10:16:19         8.0       7.0
233  3/16/2013 10:20:38         6.0       6.0
234  3/16/2013 13:02:31         3.0       6.0

[235 rows x 3 columns]

In [3]:
engagement_list = Engagement_Learning['Engagement'].tolist()
engagement_list[:10]

[10.0, 10.0, 7.0, 8.0, 9.0, 10.0, 8.0, 1.0, 9.0, 8.0]

In [4]:
import inspect
from Statistics import stats
for name, obj in inspect.getmembers(stats):
    if inspect.isfunction(obj):
        print(name)

H0_2_tailed
binomial_coefficient
binomial_distribution
confidence_interval
mean
r_square
std_dev
std_dev_t_test
std_error
std_error_t_test
std_error_t_test_independent_samples
t_test
t_test_dependent_samples
t_test_independent_samples
variance
variance_t_test
z_score

In [6]:
from Statistics.stats import *

In [7]:
l = engagement_list

In [8]:
mean(l)

7.470212765957447

In [9]:
variance(l)

5.822516976007247

In [10]:
std_dev(l)

2.412989220035441

Hypotesis Test

H0: mean_sample(intervenction) = mean_pop

H1: mean_sample(intervention ) != mean_pop

alpha = 5% = 1.96

In [11]:
n = 50

In [12]:
std_error(l,n)

0.3412482080834197

In [13]:
i = 8.3

In [14]:
z_score(l,n,i)

2.4316237107967713

In [15]:
stats.H0_2_tailed??

In [16]:
H0_2_tailed(l,n,i,'5%')

H0 hypothesis is rejeceted